In [1]:
import os
import pandas as pd

In [2]:
train_df = pd.read_csv('./train.csv')

In [3]:
train_df.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

In [4]:
test_df = pd.read_csv('./test.csv')
test_df.head(10)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
5  12     NaN      NaN                 We're shaking...It's an earthquake
6  21     NaN      NaN  They'd probably still show more life than Arse...
7  22     NaN      NaN                                  Hey! How are you?
8  27     NaN      NaN                                   What a nice hat?
9  29     NaN      NaN                                          Fuck off!

In [5]:
test_df[~test_df['keyword'].isna()].head(10)

,id,keyword,location,text
15,46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...
16,47,ablaze,Niall's place | SAF 12 SQUAD |,@sunkxssedharry will you wear shorts for race ...
17,51,ablaze,NIGERIA,#PreviouslyOnDoyinTv: Toke MakinwaÛªs marriag...
18,58,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...
19,60,ablaze,"Los Angeles, Califnordia",PSA: IÛªm splitting my personalities.\n\n?? t...
20,69,ablaze,threeonefive.,beware world ablaze sierra leone &amp; guap.
21,70,ablaze,Washington State,Burning Man Ablaze! by Turban Diva http://t.co...
22,72,ablaze,"Whoop Ass, Georgia",Not a diss song. People will take 1 thing and ...
23,75,ablaze,India,Rape victim dies as she sets herself ablaze: A...
24,84,ablaze,NaN,SETTING MYSELF ABLAZE http://t.co/6vMe7P5XhC

In [6]:
test_df[~test_df['location'].isna()].head(10)

,id,keyword,location,text
15,46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...
16,47,ablaze,Niall's place | SAF 12 SQUAD |,@sunkxssedharry will you wear shorts for race ...
17,51,ablaze,NIGERIA,#PreviouslyOnDoyinTv: Toke MakinwaÛªs marriag...
18,58,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...
19,60,ablaze,"Los Angeles, Califnordia",PSA: IÛªm splitting my personalities.\n\n?? t...
20,69,ablaze,threeonefive.,beware world ablaze sierra leone &amp; guap.
21,70,ablaze,Washington State,Burning Man Ablaze! by Turban Diva http://t.co...
22,72,ablaze,"Whoop Ass, Georgia",Not a diss song. People will take 1 thing and ...
23,75,ablaze,India,Rape victim dies as she sets herself ablaze: A...
25,87,ablaze,"scarborough, ontario",@CTVToronto the bins in front of the field by ...

In [7]:
train_df['keyword'].unique()

array([nan, 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [25]:
import re
def clean_text(text):
    text = text.lower()  # lowercase
    text = re.sub('http[s]?://\S+', 'url', text) # Replace URLs with a placeholder
    text = re.sub('@\S+', 'person', text) # Replace person "handles" with a placeholder 
    text = text.replace('#', '').replace('%20', ' ') # Remove '#' and Replace %20 with actual space

    # Some additional "borrowed" preprocessing steps
    #text = re.sub(r'[!]+', '!', text)
    #text = re.sub(r'[?]+', '?', text)
    #text = re.sub(r'[.]+', '.', text)
    #text = re.sub(r"'", "", text)
    text = re.sub('\s+', ' ', text).strip()  # Remove and double spaces
    text = re.sub(r'&amp;?', r'and', text)  # replace & -> and
#    text = re.sub(r"https?:\/\/t.co\/[A-Za-z0-9]+", "", text)  # Remove URLs
    # remove some puncts (except . ! # ?)
    #text = re.sub(r'[:"$%&\*+,-/:;<=>@\\^_`{|}~]+', '', text)
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    text = emoji_pattern.sub(r'EMOJI', text)
    return text if text != '' else '(empty)'
    
def create_text_feature(df):
    df = df.fillna('(none)')
#    res_column =  (df['keyword'].apply(lambda t: f"{t}! " if t != '(none)' else '') + df['text']) \
#        .apply(lambda t: clean_text(t))
    return df['text'].apply(lambda t: clean_text(t))

# I don't include location anymore - it should not have any impact on the results
#        df['location'].apply(lambda r: f", location {r}, ") + \

# ORYGINAL VERSION:
#def create_text_feature(df):
#    df = df.fillna('')
#    res = df['keyword'].apply(lambda r: f"keyword: [{r}]") + \
#        df['location'].apply(lambda r: f", location: [{r}], ") + \
#        df['text']
#    return res

# BETTER VERSION:
#def replace_fixes(text):
#    text = re.sub('http[s]?://\S+', '(url)', text)
#    text = re.sub('@\S+', '(at)', text) 
#    text = text.replace('#', '').replace('%20', ' ')
#    return text

In [26]:
clean_text('ala ma kota http://ala.ma.kota i pójdzie do piekła @ala, ##wildfire airplane%20incident')

'ala ma kota url i pójdzie do piekła person wildfire airplane incident'

In [27]:
create_text_feature(test_df).head(20)

0                    just happened a terrible car crash
1     heard about earthquake is different cities, st...
2     there is a forest fire at spot pond, geese are...
3                apocalypse lighting. spokane wildfires
4         typhoon soudelor kills 28 in china and taiwan
5                    we're shaking...it's an earthquake
6     they'd probably still show more life than arse...
7                                     hey! how are you?
8                                      what a nice hat?
9                                             fuck off!
10                                no i don't like cold!
11                           nooooooooo! don't do that!
12                               no don't tell me that!
13                                            what if?!
14                                             awesome!
15    birmingham wholesale market is ablaze bbc news...
16        person will you wear shorts for race ablaze ?
17    previouslyondoyintv: toke makinwaûªs marriage...
18                check these out: url url url url nsfw
19    psa: iûªm splitting my personalities. ?? tech...
Name: text, dtype: object

In [28]:
train_df['all_text'] = create_text_feature(train_df)
train_df.fillna('', inplace=True) # To replace NA in other columns than text...
train_df['target'] = train_df['target'].apply(lambda v: str(v))

In [29]:
train_dev_df = train_df.sample(n=256, random_state=101)
train_tra_df = train_df[~train_df.isin(train_dev_df)].dropna()

In [30]:
print(f"Total rows: {len(train_df)}, total split: {len(train_dev_df) + len(train_tra_df)}")
print(f"Train rows: {len(train_tra_df)}, dev: {len(train_dev_df)}")

Total rows: 7613, total split: 7613
Train rows: 7357, dev: 256

In [31]:
train_tra_df[['target', 'all_text']].rename(columns = {'all_text': 'text'}).to_csv('./train_formatted.csv', index=False)

In [32]:
train_dev_df[['target', 'all_text']].rename(columns = {'all_text': 'text'}).to_csv('./valid_formatted.csv', index=False)

In [33]:
test_df['all_text'] = create_text_feature(test_df)
test_df['target'] = 0

In [34]:
test_df[['target', 'all_text']].rename(columns = {'all_text': 'text'}).to_csv('./test_formatted.csv', index=False)

In [35]:
print(f"Test rows: {len(test_df)}")

Test rows: 3263